NODE_ENV=development
PORT=4554

BOT_TOKEN=d:ds
ADMIN_ID=ds

MONGODB_URI=sdds

API_ID=sd
API_HASH=sds

CACHE_DAYS=30
MAX_FILE_SIZE=52428800
DOWNLOAD_DIR=downloads

REDIS_HOST=localhost
REDIS_PORT=6379




